.core-values-section {
  background: $color-background;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  z-index: 10;
}
.core-values-section__title-container {
  text-align: center;
  width: 80%;
  @include respond-to(lg) {
    width: 90%;
  }
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
  z-index: 10;
  overflow: hidden;
}
.core-values-section__pretitle {
  font-size: 1.125rem;
  color: $color-primary;
  font-family: $font-subtitle;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.core-values-section__title {
  @include typ.heading-lg;
}
.core-values-section__subtitle {
  @include typ.subtitle;
}
.core-values-section__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.core-values-section__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
  @include respond-to(md) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  @include respond-to(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
  }
}
.core-values-section__card-wrapper {
  position: relative;
  z-index: 10;
}
