.hero-section {
  background: $color-background;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}
.hero-section__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 10;
}
.hero-section__container {
  position: absolute;
  inset: 0;
  top: 6.25rem;
  @include respond-to(md) {
    top: 1.875rem;
  }
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem;
}
.hero-section__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  color: $color-white-100;
  font-family: $font-body;
  width: 90%;
  @include respond-to(lg) {
    width: 80%;
  }
  @include respond-to(xl) {
    width: 100%;
  }
  max-width: 24rem;
  @include respond-to(md) {
    max-width: 80rem;
  }
  font-weight: bold;
  font-size: 1.25rem;
  @include respond-to(lg) {
    font-size: 1.875rem;
  }
  @include respond-to(md) {
    font-size: 1.5rem;
  }
  line-height: 2.1875rem;
  @include respond-to(lg) {
    line-height: 3.75rem;
  }
  margin-top: auto;
  margin-bottom: auto;
  z-index: 40;
  text-align: center;
  text-shadow: 0 2px 8px rgba(0,0,0,0.25);
}
.hero-section__title {
  @include typ.main-head-text;
}
.hero-section__subtitle {
  @include typ.subtitle;
}
.hero-section__text {
  font-size: 1.625rem;
  @include respond-to(sm) {
    font-size: 2.5rem;
  }
  @include respond-to(lg) {
    font-size: 3.125rem;
  }
  max-width: 24rem;
  @include respond-to(sm) {
    max-width: 80rem;
  }
  @include respond-to(md) {
    max-width: 80rem;
  }
  text-shadow: 0 4px 16px rgba(0,0,0,0.25);
}
.hero-section__slider-container {
  position: absolute;
  bottom: 4rem;
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 40;
}
.hero-section__slider {
  width: 2.1875rem;
  height: 4.6875rem;
  border-radius: 1.5rem;
  border: 4px solid $color-background;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 40;
}
.hero-section__slider-image {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: contain;
  z-index: 50;
}
