.intro-section {
  overflow: hidden;
  background: $color-background;
  position: relative;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  color: $color-primary;
  font-family: $font-body;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 2.5rem;
  @include respond-to(md) {
    padding: 4rem;
  }
}
.intro-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  @include respond-to(lg) {
    width: 60%;
  }
  gap: 3rem;
}
.intro-section__paragraph {
  padding-bottom: 1rem;
}
.intro-section__goal {
  font-family: $font-title;
  color: $color-tertiary;
}
.intro-section__come-together {
  color: $color-secondary;
}
.intro-section__connect {
  color: $color-secondary;
}
.intro-section__brainstorm {
  color: $color-secondary;
}
.intro-section__recharge {
  color: $color-secondary;
}
.intro-section__enjoy {
  color: $color-secondary;
}
.intro-section__mission {
  position: relative;
}
.intro-section__mission-title {
  font-family: $font-title;
  color: $color-tertiary;
  font-size: 1.1em;
}
.intro-section__mission-family {
  color: $color-secondary;
}
.intro-section__mission-harmony {
  color: $color-secondary;
}
.intro-section__supporting-paragraph {
  position: relative;
}
.intro-section__supporting-text {
  color: $color-primary;
}
.intro-section__title {
  @include typ.heading-lg;
}
.intro-section__text {
  @include typ.body-lg;
}
