@mixin modal-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.modal__content {
  @include modal-base;
}

.modal__title {
  color: $color-earth;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: $font-subtitle;
}

.modal__text {
  color: $color-primary;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-family: $font-body;
}

.modal__link {
  color: $color-secondary;
  font-family: $font-links;
  transition: color 0.2s;
  &:hover {
    color: $color-tertiary;
  }
}
