.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  background: $color-background;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 0.5rem 1.5rem;
  height: 75px;
}

.navbar__container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  gap: 5rem;
}

.navbar__logo-container {
  display: flex;
  justify-content: flex-start;
}

.navbar__logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.navbar__logo-img {
  height: 65px;
  width: auto;
  cursor: pointer;
  object-fit: contain;
  padding-bottom: 0.25rem;
}

.navbar__logo-text {
  color: $color-primary;
  font-size: 1.625rem;
  font-family: $font-title;
  cursor: pointer;
  display: none;
  @include respond-to(lg) {
    display: block;
  }
}

.navbar__menu-icon {
  height: 60px;
  width: auto;
  cursor: pointer;
  object-fit: contain;
  z-index: 30;
}

.mobile-menu__dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 1rem;
}

.mobile-menu__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 90%;
}

.mobile-menu__section-header {
  @include navbar-section-header;
}

.mobile-menu__section-link {
  color: $color-primary;
  font-size: 2rem;
  font-weight: bold;
  font-family: $font-subtitle;
  cursor: pointer;
  transition: color 0.2s, text-decoration 0.2s;
  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}

.mobile-menu__section-link--active {
  color: $color-secondary;
  text-decoration: underline;
}

.navbar__links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
}

.navbar__link {
  @include navbar-link;
}

.navbar__mobile-menu-toggle {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.25rem;
}

.mobile-menu {
  @include mobile-menu;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  z-index: 10;
  flex-direction: column;
  align-items: flex-end;
  gap: 15rem;
}

.mobile-menu__list {
  @include mobile-menu;
}

.mobile-menu__section-header {
  @include navbar-section-header;
}

@use '../mixins/typography-scale' as typ;

.navbar__title {
  @include typ.heading-md;
}
.navbar__link {
  @include typ.body-md;
  color: $color-primary;
  font-family: $font-links;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.75;
  transition: color 0.2s, font-size 0.2s;
  &:hover {
    color: $color-tertiary;
  }
}
.mobile-menu__link {
  @include typ.body-lg;
  font-family: $font-links;
  font-weight: bold;
}
