.parallax-section {
  background: linear-gradient(to bottom, $color-background, #dbeafe, #60a5fa);
  background-size: contain;
  @include respond-to(lg) {
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 2.5rem;
  inset: 0;
  overflow: hidden;
  z-index: 10;
}
.parallax-section__container {
  position: relative;
  width: 100vw;
  height: 100%;
}
.parallax-section__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.parallax-section__quote {
  width: 90%;
  @include respond-to(md) {
    width: 75%;
  }
  @include respond-to(lg) {
    width: 60%;
  }
  font-size: 1.875rem;
  @include respond-to(md) {
    font-size: 2.25rem;
  }
  @include respond-to(lg) {
    font-size: 3rem;
  }
  @include respond-to(xl) {
    font-size: 3.75rem;
  }
  color: $color-background;
  font-weight: bold;
  font-family: $font-body;
  text-align: center;
  text-shadow: 0 4px 16px rgba(0,0,0,0.25);
  line-height: 2rem;
}
.parallax-section__title {
  @include typ.heading-xl;
}
.parallax-section__subtitle {
  @include typ.subtitle;
}

.parallax-section--bg {
  background-image: url('/assets/parallax/life-goats-walking-mountain.webp');
  background-position: center;
  background-size: cover;
}
