$color-background: #e6ecf0;
$color-primary: #303848;
$color-secondary: #607DFA;
$color-secondary-dark: #19329e;
$color-tertiary: #7BA862;
$color-tertiary-light: #c8f2b1;
$color-earth: #4D3D11;
$color-black-100: #100d25;
$color-black-200: #090325;
$color-white-100: #f3f3f3;
