@mixin button-base {
  display: inline-block;
  font-family: $font-links;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  background: $color-secondary;
  color: $color-background;
  border: none;
  transition: background 0.2s, color 0.2s;
  &:hover {
    background: $color-tertiary;
    color: $color-earth;
  }
  &:disabled {
    background: $color-black-100;
    color: $color-white-100;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
