.footer {
  background: $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__copyright-text {
  color: $color-background;
  font-family: $font-body;
  font-weight: bold;
  font-size: 1.125rem;
}

.footer__copyright-symbol {
  color: $color-secondary;
  font-family: $font-links;
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0 0.5rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.footer__link {
  color: $color-tertiary;
  font-family: $font-links;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: $color-secondary;
  }
}

.footer__separator {
  color: $color-secondary;
  font-family: $font-links;
  font-weight: bold;
  margin: 0 0.5rem;
}

.footer__newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__newsletter-link {
  background: $color-secondary;
  color: $color-background;
  font-family: $font-links;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  &:hover {
    background: $color-tertiary;
    color: $color-earth;
  }
}

.footer__policies {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
